
<div class="container-fluid tp-gx-40">
    <div class="row tp-gx-20">
        {% for block in section.blocks %}
            {% assign b = block.settings %}
            <div class="col-xxl-4 col-lg-6">
                <div class="tp-banner-item-2 p-relative z-index-1 grey-bg-2 mb-20 fix">
                    <div class="tp-banner-thumb-2 include-bg transition-3" data-background="{{ b.banner_img | img_url: 'master' }}"></div>
                    <h3 class="tp-banner-title-2">
                        <a href="{{ b.title_url }}">{{ b.banner_title }}</a>
                    </h3>
                    <div class="tp-banner-btn-2">
                        <a href="{{ b.btn_url }}" class="tp-btn tp-btn-border tp-btn-border-sm">{{ b.btn_text }}
                            <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 7.49988L1 7.49988" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.9502 1.47554L16.0002 7.49954L9.9502 13.5245" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



 {% schema %}
    {
       "name": "Shofy Banner",
       "class": "tp-banner-area mt-20",
       "tag": "section",
       "settings": [
 
       ],
       "blocks": [
          {
             "name": "Banner",
             "type": "banner",
             "limit": 3,
             "settings": [
                {
                   "type": "textarea",
                   "id": "banner_title",
                   "label": "Banner Title",
                   "default": "T-Shirt Tunic Tops Blouse"
                },
                {
                   "type": "url",
                   "id": "title_url",
                   "label": "Title Url"
                },
                {
                   "type": "text",
                   "id": "btn_text",
                   "label": "Button Text",
                   "default": "Shop Now"
                },
                {
                   "type": "url",
                   "id": "btn_url",
                   "label": "Button Url"
                },
                {
                   "type": "image_picker",
                   "id": "banner_img",
                   "label": "background Image"
                }
             ]
          }
       ],
       "presets": [
          {
             "name": "Shofy-Banner",
             "blocks": [
                {
                   "type": "banner"
                },
                {
                   "type": "banner"
                },
                {
                   "type": "banner"
                }
             ]
          }
       ]
    }
 {% endschema %}